@model List<CVProject.Models.Repository.Entity.CVViewModel>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
<style>
    p {
        font-size: 17px;
    }
    label {
        font-size: 17px;
        margin: 5px;
    }
    img {
        margin: 10px;
    }

</style>

@{
    if(@Model.FirstOrDefault() != null)
    {
        <h3>CVn för användare @Model.First().CV.Profil.Anvandarnamn</h3>
    }
    else
    {
        <h2> Här var det tomt...</h2>
    }
}

<form asp-action="ShowCV" method="get">
    <div>
        @{
            foreach(var cvViewModel in Model)
            {
                if (cvViewModel.CV.Image != null)
                {
                    var base64 = Convert.ToBase64String(cvViewModel.CV.Image.Image!);
                    var imgSrc = $"data:image/gif;base64,{base64}";
                    <img src="@imgSrc" alt="Profilbild" class="rounded-circle" style="height: 250px; width: 250px;" />
                }
                else
                {
                    <p>Ingen CV-bild tillgänglig.</p>
                }
                <div>
                    <label>Förnamn: @cvViewModel.CV.Profil.Fornamn</label>
                </div>
                <div>
                    <label>Efternamn: @cvViewModel.CV.Profil.Efternamn</label>
                </div>
                <div>
                    <label>Email: @cvViewModel.CV.Profil.Email</label>
                </div>
                <div>
                    <label>Kompetenser: @cvViewModel.CV.Kompetenser</label>
                </div>
                <div>
                    <label>Utbildningar: @cvViewModel.CV.Utbildningar</label>
                </div>
                <div>
                    <label>Tidigare erfarenheter: @cvViewModel.CV.TidigareErfarenheter</label>
                </div>
                <div>
                    <label>Antal visningar: @cvViewModel.CV.Views</label>
                </div>
                    <label>Projekt: </label>
                @foreach (var project in cvViewModel.Projects)
                    {
                        <li>@project.Title</li>
                    }
                <p><a href="@Url.Action("EditCV", "CV", new { id = cvViewModel.CV.Id })" class="btn btn-primary">Redigera CV</a></p>

                <div style="border-top:1px solid black;"/>
                <br/>
            }
    }
    </div>
</form>